<!doctype html>
<html lang="en">
  <header>
  
<% if flash(:error) %>
  <%= flash[:error] %> 
<% end %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</header>
 <body>
 
         
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 
 <div class="col-md-4 col-md-offset-4">
<h1>Login</h1>

<form action='/login' method="post">

    <label>Username: 
    <input type=text name="username">
    </label>

    <label>Password: 
    <input type=text name="password">
    </label>

    <input type=submit value=LogIn id=submit> 
    <br>
    <a href="/signup">Sign Up</a>

</form> 

</div>


</body>


</html
