Edit Game 
<form action="/games/<%= @game.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label for="name">Game</label>
    <input id="name" type="text" name="name" value="<%= @game.name %>" size="50">

    <label for="console">Console</label>
    <input id="console" type="text" name="console" value="<%= @game.console %>">

    <label for="players">Number of Players</label>
    <input id="players" type="integer" name="players" value="<%= @game.players %>">

    <input type="submit" value="submit">
</form>